.cardContainer {
    border: solid 3px gray;
    border-radius: 1rem;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    margin: 1rem;
}

img {
    width: 270px;
    height: 270px;
}

.cardContents {
    height: 100px;
    width: 260px;
    margin: 5px;
}

.creator {
    display: flex;
    align-items: flex-start;
    margin: 2px;
    font-weight: bolder;
}

.description {
    width: 260px;
    display: -webkit-box;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cardMore {
    width: 260px;
    flex: 1 0 0;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

.price {
    flex: 1 0 0;
}

.date {
    flex: 1 0 0;
}

/*.buy {
    flex: 1 0 0;
}

.detail {
    flex: 1 0 0;
}*/